package backend

import (
	descriptortypes "statespec-generated/common/backend/descriptortypes"
	descriptors "statespec-generated/api/backend/descriptors"
)

type APITierDescriptor = descriptortypes.ApiDescriptor
type APITierServerDescriptor = descriptortypes.ApiServerDescriptor

func APITierDescriptors() []descriptortypes.ApiDescriptor {
	return descriptors.ApiDescriptors()
}

func APITierServerDescriptors() []descriptortypes.ApiServerDescriptor {
	return descriptors.ApiServerDescriptors()
}
