package backend

import (
	descriptortypes "statespec-generated/common/backend/descriptortypes"
	descriptors "statespec-generated/api/backend/descriptors"
)

type APITierRouteDescriptor = descriptortypes.ApiRouteDescriptor

func APITierRouteDescriptors() []descriptortypes.ApiRouteDescriptor {
	return descriptors.ApiRouteDescriptors()
}
