package backend

import common "statespec-generated/common/backend"

type APITierHandler = common.APIHandler
type APITierRequestContext = common.APIRequestContext
type APITierResponse = common.APIResponse
