package backend

import common "statespec-generated/common/backend"

type APITierRouteDescriptor = common.ApiRouteDescriptor

func APITierRouteDescriptors() []common.ApiRouteDescriptor {
	return common.ApiRouteDescriptors()
}
