package backend

import (
	"fmt"

	codecs "statespec-generated/api/backend/codecs"
	common "statespec-generated/common/backend"
	shapes "statespec-generated/common/backend/shapes"
)

{{api_codec_helpers}}
{{api_codec_delegates}}
