package backend

import (
	"context"
	"fmt"
	"time"

	common "statespec-generated/common/backend"
)

var _ = fmt.Errorf
var _ = time.Now

type DefaultAPITierHandler struct {
	Backend common.Backend
}

{{api_operation_default_handler_methods}}
var _ APITierHandler = DefaultAPITierHandler{}
