package backend

import (
	"context"

	common "statespec-generated/common/backend"
)

var _ = context.Background

type APITierRequestContext = common.APIRequestContext
type APITierResponse = common.APIResponse

type APITierHandler interface {
{{api_operation_handler_methods}}}
