package backend

import (
	common "statespec-generated/common/backend"
	descriptors "statespec-generated/api/backend/descriptors"
)

type APITierDescriptor = common.ApiDescriptor
type APITierServerDescriptor = common.ApiServerDescriptor

func APITierDescriptors() []common.ApiDescriptor {
	result := []common.ApiDescriptor{}
{{api_descriptor_aggregation}}	return result
}

func APITierServerDescriptors() []common.ApiServerDescriptor {
{{api_server_descriptors}}}
