package backend

import descriptortypes "statespec-generated/common/backend/descriptortypes"

type APITierExternalSystemOperatorMetadataHandler = descriptortypes.ExternalSystemOperatorMetadataAPIHandler
