#pragma once

#include "../../../common/entities/{{entity_snake}}/constants.hpp"
#include "../../../common/backend.hpp"
#include "../../../common/shape_types.hpp"

#include <cstdint>
#include <optional>
#include <string>

namespace statespec_generated
{

{{shape_type_declarations}}{{shape_descriptor_declarations}}} // namespace statespec_generated
