#[allow(unused_imports)]
use crate::backend::BackendResult;

pub use crate::descriptors::{ApiHandler, ApiRequestContext, ApiResponse};

pub trait ApiOperationHandler {
{{api_operation_handler_methods}}}
