use crate::api_handler_registry::DefaultApiHandler;
use crate::api_server::{find_api_server, ApiServer};
use crate::backend::Backend;
{{runtime_store_imports}}

pub struct ApiApplication<B: Backend> {
    pub backend: B,
{{runtime_store_fields}}
    pub server: ApiServer<B>,
}

impl<B: Backend> ApiApplication<B> {
    pub fn new(server_name: &str, handler: DefaultApiHandler<B>, backend: B) -> Option<Self> {
        let descriptor = find_api_server(server_name)?;
        Some(Self {
            backend,
{{runtime_store_initializers}}
            server: ApiServer::new(descriptor, handler),
        })
    }

    pub fn bootstrap(&self) -> crate::backend::BackendResult<()> {
        crate::descriptors::bootstrap_runtime_catalog::<B{{runtime_bootstrap_generic_arguments}}>(
            &self.backend{{runtime_bootstrap_arguments}},
        )
    }
}

impl<B: Backend + Clone> ApiApplication<B> {
    pub fn new_default(server_name: &str, backend: B) -> Option<Self> {
        Self::new(server_name, DefaultApiHandler::new(backend.clone()), backend)
    }
}
