#[allow(unused_imports)]
use crate::api_handlers::{ApiHandler, ApiRequestContext, ApiResponse};
#[allow(unused_imports)]
use crate::backend::{Backend, BackendError, BackendResult};
use crate::descriptors::*;
#[allow(unused_imports)]
use crate::json::Json;

#[derive(Debug, Clone)]
pub struct DefaultApiHandler<B: Backend> {
    pub backend: B,
}

impl<B: Backend> ApiHandler for DefaultApiHandler<B> {
{{api_operation_default_handler_methods}}}
