#![allow(dead_code)]

use std::collections::BTreeMap;

use crate::backend::{BackendError, BackendResult};
use crate::descriptors::*;
use crate::json::Json;
#[allow(unused_imports)]
use crate::shapes;

{{api_codec_modules}}

{{api_codec_helpers}}
