package backend

import (
	"context"
	"strconv"

	common "statespec-generated/common/backend"
	workflowmodules "statespec-generated/worker/backend/workflows"
{{workflow_step_handler_imports}}
)

type WorkflowStepKey struct {
	WorkflowName    string
	WorkflowVersion int
	StepName        string
}

func (key WorkflowStepKey) Encode() string {
	return WorkflowStepKeyString(key.WorkflowName, key.WorkflowVersion, key.StepName)
}

func WorkflowStepKeyString(workflowName string, workflowVersion int, stepName string) string {
	return workflowName + ":" + strconv.Itoa(workflowVersion) + ":" + stepName
}

type WorkflowStepHandlerContext = workflowmodules.WorkflowStepHandlerContext

type WorkflowStepInvoker func(context.Context, WorkflowStepHandlerBundle, common.Backend, WorkflowStepHandlerContext) error

type WorkflowStepHandlerBundle interface {
	WorkflowStepHandler(workflowName string, workflowVersion int64) any
}

type DefaultWorkflowStepHandlerBundle struct {
{{default_workflow_step_handler_members}}}

func NewDefaultWorkflowStepHandlerBundle() DefaultWorkflowStepHandlerBundle {
	return DefaultWorkflowStepHandlerBundle{
{{default_workflow_step_handler_initializers}}	}
}

func (bundle DefaultWorkflowStepHandlerBundle) WorkflowStepHandler(workflowName string, workflowVersion int64) any {
{{default_workflow_step_handler_lookup}}	return nil
}
