package backend

import (
	"context"

	workflowmodules "statespec-generated/worker/backend/workflows"
{{workflow_step_handler_imports}}
)

type WorkflowStepHandlerContext = workflowmodules.WorkflowStepHandlerContext

type WorkflowStepHandler interface {
{{workflow_step_handler_methods}}
}

type DefaultWorkflowStepHandler struct{}

{{default_workflow_step_handler_methods}}

func WorkflowStepHandlerKeys() []string {
	return []string{
{{workflow_step_handler_keys}}	}
}
