package backend

import descriptortypes "statespec-generated/common/backend/descriptortypes"

func FindWorkerTierDescriptor(workerName string) (descriptortypes.WorkerDescriptor, bool) {
	for _, worker := range WorkerTierDescriptors() {
		if worker.Name == workerName {
			return worker, true
		}
	}
	return descriptortypes.WorkerDescriptor{}, false
}

func FindWorkerTierContext(workerName string) (descriptortypes.WorkerContext, bool) {
	for _, workerContext := range WorkerTierContexts() {
		if workerContext.WorkerName == workerName {
			return workerContext, true
		}
	}
	return descriptortypes.WorkerContext{}, false
}
