package backend

import common "statespec-generated/common/backend"

type WorkerTierDescriptor = common.WorkerDescriptor

func WorkerTierDescriptors() []common.WorkerDescriptor {
	return common.WorkerDescriptors()
}
