package backend

import descriptortypes "statespec-generated/common/backend/descriptortypes"
import "statespec-generated/worker/backend/descriptors"

type WorkerTierDescriptor = descriptortypes.WorkerDescriptor

func WorkerTierDescriptors() []descriptortypes.WorkerDescriptor {
	return descriptors.WorkerDescriptors()
}
