package backend

import common "statespec-generated/common/backend"
import "statespec-generated/worker/backend/descriptors"

type WorkerTierDescriptor = common.WorkerDescriptor

func WorkerTierDescriptors() []common.WorkerDescriptor {
	return descriptors.WorkerDescriptors()
}
