package backend

import common "statespec-generated/common/backend"
import "statespec-generated/worker/backend/descriptors"

type WorkerTierContext = common.WorkerContext

func WorkerTierContexts() []common.WorkerContext {
	return descriptors.WorkerContexts()
}
