{{entity_gc_entity_imports}}

#[derive(Debug, Clone)]
pub struct EntityGcTerminalStateDescriptor {
    pub state: String,
    pub after: String,
    pub mode: String,
}

#[derive(Debug, Clone)]
pub struct EntityGcDescriptor {
    pub entity: String,
    pub collection: String,
    pub status_field: String,
    pub terminal_states: Vec<EntityGcTerminalStateDescriptor>,
}

pub fn entity_gc_descriptors() -> Vec<EntityGcDescriptor> {
    vec![
{{entity_gc_descriptors}}    ]
}
