#pragma once

#include "workflow_step_types.hpp"

#include <string_view>

namespace statespec_generated::worker
{

class WorkflowStepHandlerBundle
{
  public:
    virtual ~WorkflowStepHandlerBundle() = default;
    virtual void* workflow_handler(
        std::string_view workflow_name,
        std::int64_t workflow_version
    ) = 0;
};

} // namespace statespec_generated::worker

// clang-format off
{{workflow_step_handler_includes}}
// clang-format on

namespace statespec_generated::worker
{

class DefaultWorkflowStepHandlerBundle final : public WorkflowStepHandlerBundle
{
  public:
    // clang-format off
{{default_workflow_step_handler_setters}}
    // clang-format on

    void* workflow_handler(
        std::string_view workflow_name,
        std::int64_t workflow_version
    ) override
    {
        // clang-format off
{{default_workflow_step_handler_lookup}} // clang-format on
        (void)workflow_name;
        (void)workflow_version;
        return nullptr;
    }

  private:
    // clang-format off
{{default_workflow_step_handler_members}}
    // clang-format on
};

} // namespace statespec_generated::worker
