#pragma once

#include "../common/descriptors.hpp"

#include <optional>
#include <stdexcept>
#include <string>
#include <vector>

namespace statespec_generated::worker
{

struct WorkflowStepHandlerContext
{
    std::string workflow_name;
    int workflow_version = 1;
    std::string step_name;
    std::optional<std::string> execution_id;
    statespec::backend::Json input;
};

class IWorkflowStepHandler
{
  public:
    virtual ~IWorkflowStepHandler() = default;
    // clang-format off
{{workflow_step_handler_methods}}
    // clang-format on
};

class DefaultWorkflowStepHandler final : public IWorkflowStepHandler
{
  public:
    // clang-format off
{{default_workflow_step_handler_methods}}
    // clang-format on
};

inline std::vector<std::string> workflow_step_handler_keys()
{
    // clang-format off
    return {
{{workflow_step_handler_keys}}    };
    // clang-format on
}

} // namespace statespec_generated::worker
