#pragma once

#include "../common/descriptors/types.hpp"
#include "descriptors/catalog.hpp"

namespace statespec_generated::worker
{

using WorkerContext = ::statespec_generated::WorkerContext;

inline std::vector<WorkerContext> worker_contexts()
{
    return descriptors::worker_contexts();
}

} // namespace statespec_generated::worker
