#pragma once

#include "worker_leases.hpp"
#include "worker_queues.hpp"
#include "worker_registry.hpp"
#include "worker_workflows.hpp"
#include "workflow_runner.hpp"

{{runtime_store_includes}}

#include <chrono>
#include <optional>
#include <string>

namespace statespec_generated::worker
{

class WorkerRuntime
{
  public:
    explicit WorkerRuntime(statespec::backend::IBackend& backend)
        : backend_(backend){{runtime_store_initializers}}
    {
    }

    statespec::backend::IBackend& backend()
    {
        return backend_;
    }

    void register_definitions()
    {
        bootstrap();
    }

    void bootstrap()
    {
        auto tx = backend_.begin();
        try
        {
            ::statespec_generated::register_runtime_catalogTx(*tx{{runtime_bootstrap_arguments}});
            backend_.commit(*tx);
        }
        catch (...)
        {
            tx->abort();
            throw;
        }
    }

{{worker_runtime_run_once}}

  private:
    statespec::backend::IBackend& backend_;
{{runtime_store_members}}
};

} // namespace statespec_generated::worker
