#pragma once

#include "../common/descriptors/types.hpp"
#include "descriptors/catalog.hpp"

namespace statespec_generated::worker
{

using WorkerDescriptor = ::statespec_generated::WorkerDescriptor;

inline std::vector<WorkerDescriptor> worker_descriptors()
{
    return descriptors::worker_descriptors();
}

} // namespace statespec_generated::worker
