#pragma once

#include "../common/descriptors.hpp"

namespace statespec_generated::worker
{

using WorkerContext = ::statespec_generated::WorkerContext;

inline std::vector<WorkerContext> worker_contexts()
{
    return ::statespec_generated::worker_contexts();
}

} // namespace statespec_generated::worker
