#[allow(unused_imports)]
use crate::json::Json;

use crate::backend::{FieldDescriptor, FieldType};
use crate::entity_{{entity_snake}}::constants as entity_constants;
use crate::shape_types::ShapeDescriptor;

{{shape_type_declarations}}{{shape_descriptor_functions}}
