package runtime

import (
	entitygc "statespec-generated/common/backend/runtime/entitygc"
	// {{entity_gc_entity_imports}}
)

type EntityGCTerminalStateDescriptor = entitygc.EntityGCTerminalStateDescriptor
type EntityGCDescriptor = entitygc.EntityGCDescriptor

func EntityGCDescriptors() []EntityGCDescriptor {
	return []EntityGCDescriptor{
		// {{entity_gc_descriptor_calls}}
	}
}
