package runtime

import entitygc "statespec-generated/common/backend/runtime/entitygc"

type EntityGCTerminalStateDescriptor = entitygc.EntityGCTerminalStateDescriptor
type EntityGCDescriptor = entitygc.EntityGCDescriptor
