package runtime

import (
// {{entity_gc_entity_imports}}
)

type EntityGCTerminalStateDescriptor struct {
	State string
	After string
	Mode  string
}

type EntityGCDescriptor struct {
	Entity         string
	Collection     string
	StatusField    string
	TerminalStates []EntityGCTerminalStateDescriptor
}

func EntityGCDescriptors() []EntityGCDescriptor {
	return []EntityGCDescriptor{
		{{entity_gc_descriptors}}}
}
