use crate::backend::{Backend, BackendResult};
use crate::workflow::WorkflowExecutionRecord;
use crate::workflow_step_handlers::WorkflowStepHandler;
use crate::worker_contexts::WorkerContext;
use crate::worker_runtime::WorkerRuntime;

pub struct WorkerApplication<'a, B: Backend, H: WorkflowStepHandler> {
    pub context: WorkerContext,
    pub runtime: &'a WorkerRuntime<B>,
    pub handler: &'a H,
}

impl<'a, B: Backend, H: WorkflowStepHandler> WorkerApplication<'a, B, H> {
    pub fn new(context: WorkerContext, runtime: &'a WorkerRuntime<B>, handler: &'a H) -> Self {
        Self {
            context,
            runtime,
            handler,
        }
    }

    pub fn run_once(
        &self,
        workflow_execution_id: &str,
    ) -> BackendResult<Option<WorkflowExecutionRecord>> {
        self.runtime
            .run_once(&self.context, self.handler, workflow_execution_id)
    }
}
