use crate::backend::{Backend, BackendResult};
use crate::worker_contexts::WorkerContext;
use crate::worker_runtime::WorkerRuntime;
use crate::workflow::WorkflowExecutionRecord;
use crate::workflow_step_handlers::WorkflowStepInvokerMap;

pub struct WorkerApplication<'a, B: Backend> {
    pub context: WorkerContext,
    pub runtime: &'a WorkerRuntime<B>,
    pub workflow_step_invokers: &'a WorkflowStepInvokerMap<B>,
}

impl<'a, B> WorkerApplication<'a, B>
where
    B: Backend + Sync,
{
    pub fn new(
        context: WorkerContext,
        runtime: &'a WorkerRuntime<B>,
        workflow_step_invokers: &'a WorkflowStepInvokerMap<B>,
    ) -> Self {
        Self {
            context,
            runtime,
            workflow_step_invokers,
        }
    }

    pub fn run_once(
        &self,
        workflow_execution_id: &str,
    ) -> BackendResult<Option<WorkflowExecutionRecord>> {
        self.runtime.run_once(
            &self.context,
            self.workflow_step_invokers,
            workflow_execution_id,
        )
    }
}
