#pragma once

#include "../common/descriptors/types.hpp"

namespace statespec_generated::api
{

using ApiRequestContext = ::statespec_generated::ApiRequestContext;
using ApiResponse = ::statespec_generated::ApiResponse;

class IApiOperationHandler
{
  public:
    virtual ~IApiOperationHandler() = default;
    // clang-format off
{{api_operation_handler_methods}} // clang-format on
};

class IBusinessApiOperationHandler
{
  public:
    virtual ~IBusinessApiOperationHandler() = default;
    // clang-format off
{{business_api_operation_handler_methods}} // clang-format on
};

} // namespace statespec_generated::api
