#pragma once

#include "../common/descriptors.hpp"
// clang-format off
{{api_descriptor_includes}}
// clang-format on

namespace statespec_generated::api
{

using ApiDescriptor = ::statespec_generated::ApiDescriptor;
using ApiServerDescriptor = ::statespec_generated::ApiServerDescriptor;

inline std::vector<ApiDescriptor> api_descriptors()
{
    std::vector<ApiDescriptor> descriptors;
// clang-format off
{{api_descriptor_aggregation}}
// clang-format on
    return descriptors;
}

inline std::vector<ApiServerDescriptor> api_server_descriptors()
{
// clang-format off
{{api_server_descriptors}}
// clang-format on
}

} // namespace statespec_generated::api
