#pragma once

#include "../common/descriptors.hpp"
#include "descriptors/catalog.hpp"

namespace statespec_generated::api
{

using ApiRouteDescriptor = ::statespec_generated::ApiRouteDescriptor;

inline std::vector<ApiRouteDescriptor> api_route_descriptors()
{
    return descriptors::api_route_descriptors();
}

} // namespace statespec_generated::api
