#pragma once

#include "../common/descriptors.hpp"
{{api_shape_include}}

#include <cstdint>
#include <stdexcept>
#include <string>
#include <string_view>

namespace statespec_generated::api
{

using ApiRequestContext = ::statespec_generated::ApiRequestContext;
using ApiResponse = ::statespec_generated::ApiResponse;

// clang-format off
{{api_codec_helpers}}
// clang-format on

} // namespace statespec_generated::api
