#pragma once

#include "../common/descriptors.hpp"

namespace statespec_generated::api
{

using ApiRequestContext = ::statespec_generated::ApiRequestContext;
using ApiResponse = ::statespec_generated::ApiResponse;
using IApiHandler = ::statespec_generated::IApiHandler;

} // namespace statespec_generated::api
