#pragma once

#include "api_handler_registry_support.hpp"
// clang-format off
{{api_handler_registry_domain_includes}}
// clang-format on

namespace statespec_generated::api
{

inline void register_handler_invokers([[maybe_unused]] ApiHandlerLookupMap& handlers)
{
    // clang-format off
{{api_handler_lookup_registrations}} // clang-format on
}

inline void
register_business_handler_invokers([[maybe_unused]] BusinessApiHandlerLookupMap& handlers)
{
    // clang-format off
{{api_business_handler_lookup_entries}} // clang-format on
}

} // namespace statespec_generated::api
