#pragma once

#include "../common/descriptors/types.hpp"
#include "descriptors/catalog.hpp"

namespace statespec_generated::api
{

using ApiDescriptor = ::statespec_generated::ApiDescriptor;
using ApiServerDescriptor = ::statespec_generated::ApiServerDescriptor;

inline std::vector<ApiDescriptor> api_descriptors()
{
    return descriptors::api_descriptors();
}

inline std::vector<ApiServerDescriptor> api_server_descriptors()
{
    return descriptors::api_server_descriptors();
}

} // namespace statespec_generated::api
