#pragma once

#include "../common/descriptors.hpp"
// clang-format off
{{api_descriptor_includes}}
// clang-format on

namespace statespec_generated::api
{

using ApiRouteDescriptor = ::statespec_generated::ApiRouteDescriptor;

inline std::vector<ApiRouteDescriptor> api_route_descriptors()
{
    std::vector<ApiRouteDescriptor> descriptors;
// clang-format off
{{api_route_descriptor_aggregation}}
// clang-format on
    return descriptors;
}

} // namespace statespec_generated::api
