#pragma once

#include "api_handlers.hpp"
// clang-format off
{{api_handler_registry_domain_includes}}
// clang-format on

namespace statespec_generated::api
{

class DefaultApiHandler final
{
  public:
    explicit DefaultApiHandler(statespec::backend::IBackend& backend)
        : backend_(backend)
    {
    }

    DefaultApiHandler(
        statespec::backend::IBackend& backend,
        IBusinessApiOperationHandler& business_handler
    )
        : backend_(backend),
          business_handler_(&business_handler)
    {
    }

    // clang-format off
{{api_operation_default_handler_methods}} // clang-format on

  private:
    [[maybe_unused]] statespec::backend::IBackend& backend_;
    IBusinessApiOperationHandler* business_handler_ = nullptr;
};

} // namespace statespec_generated::api
