#pragma once

#include "../common/descriptors.hpp"

namespace statespec_generated::api
{

using IExternalSystemOperatorMetadataApiHandler =
    ::statespec_generated::IExternalSystemOperatorMetadataApiHandler;

} // namespace statespec_generated::api
